[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "opencode"]
	path = opencode
	url = https://github.com/dushyant30suthar/opencode.git
	branch = llamastack
